<div>
  <h1>{{message}}</h1>
  <highchart id="chart1" config="chartConfig"></highchart>
  <h2>Sentiment Predictions</h2>
  <h3>Date: {{prediction_date}}</h3>
  <h3>Sentiment: <b>{{sentiment_prediction}}</b></h3>
</div>
